In [33]:
from urllib.request import urlopen
import json
import pandas as pd

url = 'https://larimer-county-data-lake.s3-us-west-2.amazonaws.com/Public/covid/covid_patient_trend.json?t=1632506827395'

In [38]:
response = urlopen(url)
json_data = response.read().decode('utf-8', 'replace')

d = json.loads(json_data)
larimer_hosp = pd.json_normalize(d['data'])
larimer_hosp

,Date,admission_count,kpi_admits_indicator,inpatient_count,kpi_patient_indicator,inpatient_count_pct_change
0,2020-03-31T00:00:00.000Z,NaN,NaN,47,0,NaN
1,2020-04-01T00:00:00.000Z,NaN,NaN,46,0,NaN
2,2020-04-02T00:00:00.000Z,NaN,NaN,46,0,NaN
3,2020-04-03T00:00:00.000Z,2.0,0.0,46,0,NaN
4,2020-04-04T00:00:00.000Z,1.0,0.0,42,0,NaN
...,...,...,...,...,...,...
367,2021-09-16T00:00:00.000Z,9.0,0.0,73,1,-13.095238
368,2021-09-20T00:00:00.000Z,6.0,0.0,66,1,-25.000000
369,2021-09-21T00:00:00.000Z,12.0,0.0,68,1,-15.000000
370,2021-09-22T00:00:00.000Z,5.0,0.0,60,0,-25.925926
371,2021-09-23T00:00:00.000Z,11.0,0.0,65,1,-14.473684

In [1]:
import numpy as np

In [3]:
x = [1, -7, 1]
y = [5, 2, 4]

display(np.cross(x,y))
display(np.dot(x,y))

array([-30,   1,  37])

-5